body {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  height: 58px;
  margin: auto;
}

.navbar-logo {
  margin-right: auto;
  margin-left: 15px;
  padding-top: 4px;
}

.navbar-item {
  align-self: flex-end
}

.navbar-items {
  margin-right: auto;
}

.navbar-items-right {
  margin-right: 15px;
}

.white-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto 0 auto;
  padding: 0;
  width: 75%;
  max-width: 1300px;
}

.content-container {
  margin: auto;
  width: 75vw;
  display: flex;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
  max-width: 1200px;
}

.content-label {
  flex: 1;
  padding: 1rem;
  text-align: center;
  height: 50%;
  line-height: 3rem;
}

.content-title {
  font-size: 3rem;
  font-family: "Arapey", serif;
}

.content-subtitle {
  font-family: "Montserrat", sans-serif;
}

.contact-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.content-image {
  flex: 1;

  img {
    object-fit: contain;
    margin-bottom: 0px;
  }
}

#content-contact {
  line-height: 1rem;
}

.link {
  text-decoration: none;
  color: white;

  &:hover {
    color: pink;
  }
}
