.navbar {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 58px;

  box-shadow: 5px 10px 20px -20px rgb(29, 29, 29);
  border-radius: 5px;
  border: 2px solid;
}

.navbar-item {
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  border-right: 1px solid;
  font-size: 1.2em;
  color: black;
}

.navbar-item:last-child {
  border-right: 0;
}

.navbar-logo {
  margin-right: auto;
  margin-left: 15px;
}

.navbar-items {
  margin-right: auto;
}

.navbar-items-right {
  margin-right: 15px;
}
